@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:auto;
}
.uo{
	width: 1900px;
	height: 100px;
	background: #eeeeee;
}
.up{
	display: block;
    width: 48px;
    height: 48px;
    border-radius: 150%;
	float: left;
	margin-left: 150px;
	margin-top: 20px;
	overflow: hidden;
	overflow-y: scroll;
	overflow: hidden;
}
.po ul li{
	float: left;
	margin-left: 250px;
	list-style: none;
	margin-top: 25px;
	position: absolute;
	color: #000;
	font-size: 20px;
	
	
}
.po ul li:hover{
	color: red;
}
.po ul p:hover{
	color: red;
}
.po ul p{
	float: left;
	color:#000;
	margin-left: 50px;
	font-size: 15px;
	margin-top: 55px;
	
	
}

.yuo a{
	
	float: right;
	margin-right: 30px;
	margin-top: 50px;
	margin:  0 40px;
	list-style: none;
	text-decoration: none;
	color: #000;
	}
.yuo a:hover{
	
	display: block;
	color: antiquewhite;
	background-color: red;
	text-align: none
	
}
.nav {
padding-left:333px;

width:1920px;
height: 10px;
}

.nav  a{
	
	float: left;
	margin-left:119px;
	margin-top: 70px;
	margin:  100 20px;
	list-style: none;
	text-decoration: none;
	text-align: center;
	color: #000;
	
	
	
    
    
}
.nav a:hover,.nav .uy a{
	display: block;
	text-align: center;
    color: antiquewhite;
	background-color: red;
	
	}
.search{
	
}
.uty{
	width: 1900px;
	height: 800px;
	
}
.uty .ki ul li{
	float: left;
	margin-right: 80px;
	margin: 0 15px;
	margin-top: 50px;
	list-style: none;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}



.bopp{
	width: 670px;
	height: 298px;
	float: left;
	margin-left: 250px;
    background-image: url(images/15.jpg.jpg);
	margin-top: 20px;
	transition:All 0.4s ease-in-out;
}
.slide-text{
	width: 170px;
	height: 150px;
	background: #fff;
	float: right;
	overflow:hidden;
	overflow-y: scroll;
	overflow: hidden;
	border: 1px solid #FFCC00;
	
}
.bopp .slide-text a{
	color: #000;
	text-decoration: none;
	float:left;
	margin-left: 20px;
	margin-top: 20px;
	position: absolute;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
	
 }
.slide-text p{
	color: #000;
	margin-top: 50px;
	text-align: center;
	float: left;
	margin-left: 12px;
	font-size: 15px;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
	
}
.slide-text p:hover{
	color: aqua;
	-webkit-transform:translate(0,-10px);
-moz-transform:translate(0,-10px);
-o-transform:translate(0,-10px);
-ms-transform:translate(0,-10px);
}

.bopp .slide-text a:hover{
	color:red ;
	-webkit-transform:translate(0,-10px);
-moz-transform:translate(0,-10px);
-o-transform:translate(0,-10px);
-ms-transform:translate(0,-10px);
}
.gh{
	width: 170px;
	height: 150px;
	background: #fff;
	float: right;
	overflow: hidden;
	overflow-y: scroll;
	overflow: hidden;
	border: 1px solid #CCEFF5;
	margin-right: -172px;
	margin-top: 146px;
}
.gh a{
	color: #000;
	text-decoration: none;
	float: left;
	margin-left: 20px;
	margin-top:10px;
		
	
}
.gh a:hover{
	color:violet;
}
.gh p{
	color:#000;
	
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.uok a{
	font-size: 20px;
	color:#000;
	float: left;
	margin-left: 50px;
	margin-top: 25px;
	width: 350px;
	border-bottom: 1px solid red;
	height: 40px;
	
}

.uok img{
   float: left;
	margin-left: -350px;
	margin-top: 90px;
	position: absolute;
	transition:All 0.4s ease-in-out;

    -webkit-transition:All 0.4s ease-in-out;

    -moz-transition:All 0.4s ease-in-out;

    -o-transition:All 0.4s ease-in-out;

}
.uok img:hover{
	transform:scale(1.2);

    -webkit-transform:scale(1.2);

    -moz-transform:scale(1.2);

    -o-transform:scale(1.2);

    -ms-transform:scale(1.2);

}
.yu p{
	position: absolute;
	color:#000;
	float: left;
	margin-left: -170px;
	margin-top: 1px;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

	
	
}
.yu p:hover{
	color: aqua;
	transform:translate(0,-10px);
-webkit-transform:translate(0,-10px);
-moz-transform:translate(0,-10px);
-o-transform:translate(0,-10px);
-ms-transform:translate(0,-10px);

}
.uok li{
	list-style: none;
	float: left;
	margin-left: 180px;
	
	}
.yu a{
	float: left;
	margin-left: -180px;
	margin-top: 200px;
	transition:All 0.4s ease-in-out;
    
}
.yu a:hover{
	color: aqua;
	
}
.nk ul li{
	list-style: none;
	float: left;
	margin-left: -350px;
	margin-top: 240px;
	color: #000;
	width: 350px;
	height: 40px;
	border-bottom: 1px solid #585656;
	
	
}
.nk ul li{
	color: #000;
	margin-top: 240px;
	margin-left: -350px;
}

.nk ul p{
	color:#000;
	float: left;
	margin-left: -350px;
	margin-top: 300px;
	
}
.nk ul pl{
	color: #000;
	margin: 20px;
	float: left;
	margin-left: -350px;
	margin-top: 335px;
}
.nk ul p2{
	color: #000;
	float: left;
	margin-left: -350px;
	margin-top: 370px;
}
.nk ul h1{
	float: left;
	margin-left: -350px;
	margin-top: 410px;
	border-bottom: 1px solid #000;
	width: 400px;
	height: 50px;
}



.uot ul li{
	list-style: none;
	margin-left: -1080px;
	margin-top: 330px;
	border-bottom: 4px solid #db6d4c;
	line-height: 36px;
	width: 670px;
	height: 50px;
	float: left;
}
.jkl .uk{
	background:#eeeee6;
	width: 215px;
	height: 340px;
	float: left;
	margin-left: -1318px;
}
.uk{
	float: left;
	margin-left: -1290px;
	margin-top: 20px;
	
}

.uk img{
	width: 150px;
	height: 150px;
	border:#0DFB0B solid 2.5px;
	display: block;
    margin: 10px auto;
    border-radius: 100%;
    transition: all 2.0s;
	
}
.uk img:hover{
	transform: rotate(360deg);
}

	
	
   





